html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: gray;
    background-attachment: fixed;
}

footer {
    margin-top: auto;
}

#tool-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    height: 15vh;
    width: 100vw;
    top: 0px;
    left: 0px;

    background-color: navy
}

#title-border {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1vw;
    height: 10vh;
    width: 22vw;

    border: 0.5vh outset gold;
    border-radius: 1vh;
    background-color: brown;
}

#title-text {
    width: 22vw;
    font-family: Abril;
    font-size: 2.5vw;
    font-weight: bold;
    text-align: center;
    color: wheat;
}

#links-div {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 1vw;
    width: 22.5vw;

    font-size: 1.5vw;
    font-weight: bold;
    text-align: left;
    color: orange;
}

#leetcode-profile-link,
#linkedin-link,
#gmail-link {
    text-decoration: none;
    color: bisque;
}

#leetcode-profile-link:hover,
#linkedin-link:hover,
#gmail-link:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: orange;
}

#test {
    margin-top: 15vh;
}

#copy-right {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 8vh;
    width: 100vw;
    left: 0px;
    bottom: 0px;
    position: fixed;

    background-color: black;
}

#copy-right-text {
    margin-left: 1vw;

    font-family: Poiret-One;
    font-size: 2.5vh;
    font-weight: bold;
    color: white;
}

@font-face {
    font-family: Abril;
    src: url(../fonts/Abril_Fatface/AbrilFatface-Regular.ttf)
}

@font-face {
    font-family: Poiret-One;
    src: url(../fonts/Poiret_One/PoiretOne-Regular.ttf)
}